:root
{
    /* color declaration*/
    --text-color: #0b2d39;
    --main-background-color:  white;
    --secondary-text-color: #66b6d2;

    /* font declaration*/
    --decorative-font : "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
footer
{
    background-color: var(--text-color) !important;
    padding: 30px 0px;
    color: var(--main-background-color);
}