:root
{
     --text-color:#2596be;
    --a-link-hover-color: #134b5f;
    --desktop-side-nav-bg-color: #f6f6f6;
    --mobile-side-nav-bg-color: #071e26;
    --mobile-side-nav-border-bottom-color: #92cbdf;
}
/* CSS for common selectors (HTML Tags) */
main, footer
{
    position: relative;
    top: 120px;
}
/* CSS for common selectors (HTML Tags) */

/* Override rules starts here */
.fixed-top
{
    z-index: 999;
    background-color: var(--desktop-side-nav-bg-color) !important;
}
.navbar a
{
    color: var(--text-color);
    text-decoration: none;
}
.navbar a:hover
{
    color: var(--a-link-hover-color);
}
#collapsibleNavbar li
{
    font-size: 18px;
    margin-left: 60px !important;
    font-weight: 600 !important;
}
/* Override rules ends here */

#company-logo
{
    width: 150px;
}

/** mobile media query started here**/
@media only screen and (max-width: 600px) 
{
    main, footer
    {
        position: relative;
        top: 30px;
    }
    #company-logo
    {
        width: 60px;
    }
    #close-button
    {
        display: flex;
        color: white;
    }
    .nav-w-80
    {
        width: 80% !important;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
    }
    #collapsibleNavbar
    {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        background-color: var(--mobile-side-nav-bg-color);
        height: 100%;
        z-index: 1000;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
    }
    #collapsibleNavbar li
    {
        font-weight: 600;
        margin-left: 10px !important;
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid var(--mobile-side-nav-border-bottom-color);
    }
    #collapsibleNavbar li a
    {
        color: var(--desktop-side-nav-bg-color) !important;
    }
    #collapsibleNavbar li:first-child
    {
        border-bottom: 0px;
    }
}
/** mobile media query ends here**/